:root {
    --padding: 4rem;
    --border: hsl(0, 0%, 20%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.schedule-container {
    padding: 20px;
    overflow-x: auto; /* Enables horizontal scrolling if content overflows */
    overflow-y: hidden; /* Hides vertical overflow */
    /* below fixed issue of overflowing of guide-slot_card */
    /* white-space: nowrap;  */ 
}

.schedule-days {
    display: flex;
    flex-direction: row; /* Ensures children are in a row */
    flex-wrap: nowrap; /* Prevents wrapping to the next line */
    overflow-x: auto; /* Allows horizontal scrolling for days */
    overflow-y: hidden; /* Hides vertical overflow */
}

.schedule-day {
    display: inline-block; /* Keeps elements in a row and respects width */
    margin: 0 10px;
    min-width: 300px; /* Ensures a minimum width for better readability */
    vertical-align: top; /* Aligns items at the top */
}

.schedule-stage {
    margin-bottom: 20px;
}

.schedule-stage__title p {
    margin: 0;
    font-weight: bold;
}

.schedule-stage_guide-container {
    padding: 10px;
}

.guide-slot {
    display: flex;
    align-items: center; /* Centers items vertically in the container */
    margin-bottom: 15px;
}

.time-container {
    flex: 0 0 100px; /* Fixed width for the time container */
    padding-right: 10px; /* Space between time and card */
    display: flex;
    align-items: center; /* Vertically centers time within its container */
    justify-content: center; /* Horizontally centers time within its container */
}


.guide-slot_card-container {
    flex: 1; /* Takes the remaining space */
}

.guide-slot {
    color: gray;
}

.day-color {
    color:gray ;
}

.guide-slot_card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 0.8rem;
    color: #DADEDF;
    background: rgb(46, 26, 70, 0.85);
    cursor: pointer;
    overflow: hidden; /* Ensures that overflow content is hidden */
    word-wrap: break-word; /* Breaks long words to prevent overflow */
    box-sizing: border-box; /* Includes padding and border in width and height */
}

.guide-slot_card:hover {
    background: rgb(46, 26, 70, 0.95);
    border-color: #b3b3b3;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Responsive Styles */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .schedule-container {
        overflow-x: auto; /* Enables horizontal scrolling on smaller screens */
    }
    
    .schedule-days {
        flex-direction: row; /* Ensures days are in a single row */
    }

    .schedule-day {
        display: inline-block; /* Keeps days in a row and respects width */
        width: 300px; /* Ensures each day takes fixed width */
        box-sizing: border-box; /* Includes padding and border in width */
    }
}
